@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-slate-100 text-gray-800 antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 스크롤바 스타일 (선택 사항) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}